* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding-top: 10px;
}

.skills {
    display: none;
}