@use "./variables" as *;

.header__heading {
  font-size: 45px;
  font-family: $heading-1;
  font-weight: bold;
}

.intro-section {
  .intro-section__heading {
    font-size: 110px;
    font-family: $heading-2;
  }

  .intro-section__description {
    font-size: 30px;
    font-family: $paragraph-1;
  }
}

.about-me {
  .about-me__heading {
    font-size: 35px;
    font-family: $heading-1;
    font-weight: 500px;
  }

  .about-me__description {
    font-size: 25px;
    font-family: $paragraph-1;
  }
}

.skills {
  .skills__heading {
    font-size: 35px;
    font-family: $heading-1;
    font-weight: 500px;
  }

  .skills__description {
    font-size: 25px;
    font-family: $paragraph-1;
  }
}

.projects {
  .projects__heading {
    font-size: 35px;
    font-family: $heading-1;
    font-weight: 500px;
  }

  .projects-description {
    .projects-description__title {
      font-size: 30px;
      font-family: $paragraph-1;
    }
  }
}

.contact-me {
  text-align: center;

  .contact-me__heading {
    font-size: 140px;
  }
}

.projects-links-clickable__goto {
  font-size: 18px;
  font-family: $button-1;
  color: $font-colour-2;
}
