@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Questrial&family=Recursive:wght@300..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

//Colour vairables



//Font variables (Public Sans, Questrial, Recursive, Rosario available)

//Headings

$heading-1: "Questrial", sans-serif;
$heading-2: "Public Sans", sans-serif;

//Paragraphs

$paragraph-1: "Public Sans", sans-serif;