@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Questrial&family=Recursive:wght@300..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  padding-top: 30px;
}
.header .header-navigation {
  width: 50%;
  display: none;
  justify-content: space-evenly;
}

.intro-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-top: 30px;
}
.intro-section .intro-section__description {
  padding-top: 60px;
  padding-bottom: 40px;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 30px;
}
.about-me .about-me__heading {
  padding-bottom: 40px;
}
.about-me .about-me__portrait {
  display: flex;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 35px;
}
.about-me .about-me__description {
  width: 95%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}
.skills .skills__heading {
  padding-top: 30px;
  padding-bottom: 30px;
}
.skills .skills__description {
  padding-bottom: 30px;
}
.skills .skills__list {
  width: 100%;
  display: grid;
  grid-template: 150px 150px 150px/1fr 1fr 1fr;
  gap: 50px 0;
}
.skills .skills__list .skills__entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .skills__list .skills__entry .skills__entry--icon {
  height: 90%;
  width: 60%;
  padding-bottom: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.projects .projects-example__screenshot {
  width: 100%;
  padding: 20px 0;
}
.projects .projects-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects .projects-description .projects-description__title {
  max-width: 500px;
  word-break: keep-all;
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: center;
}

.footer {
  background-color: #000;
  margin: auto;
  margin-top: 20px;
  padding: 20px 0;
}
.footer .footer-links {
  display: flex;
  justify-content: space-evenly;
  margin: 0 100px;
}
.footer .footer-links .footer-links__icon {
  height: 100px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .intro-section .intro-section__heading {
    text-align: center;
  }
  .intro-section .intro-section__description {
    max-width: 90%;
  }
  .skills .skills__list {
    display: flex;
    justify-content: space-evenly;
  }
  .skills .skills__list .skills__entry {
    width: 20%;
  }
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .projects .projects__heading {
    width: 100%;
  }
  .projects .projects-example {
    width: 45%;
  }
}
@media screen and (min-width: 1538px) {
  .header {
    margin-left: 90px;
    justify-content: space-between;
  }
  .header .header-navigation {
    display: flex;
  }
  .about-me .about-me-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .about-me .about-me-content .about-me__portrait {
    width: 40%;
    height: 450px;
    padding: 0 0;
    align-self: center;
  }
  .projects .projects__heading {
    width: 100%;
  }
  .projects .projects-example {
    width: 30%;
    padding-bottom: 20px;
  }
}
.header__heading {
  font-size: 45px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.intro-section .intro-section__heading {
  font-size: 110px;
  font-family: "Public Sans", sans-serif;
}
.intro-section .intro-section__description {
  font-size: 30px;
  font-family: "Public Sans", sans-serif;
}

.about-me .about-me__heading {
  font-size: 35px;
  font-family: "Questrial", sans-serif;
  font-weight: 500px;
}
.about-me .about-me__description {
  font-size: 25px;
  font-family: "Public Sans", sans-serif;
}

.skills .skills__heading {
  font-size: 35px;
  font-family: "Questrial", sans-serif;
  font-weight: 500px;
}
.skills .skills__description {
  font-size: 25px;
  font-family: "Public Sans", sans-serif;
}

.projects .projects__heading {
  font-size: 35px;
  font-family: "Questrial", sans-serif;
  font-weight: 500px;
}
.projects .projects-description .projects-description__title {
  font-size: 30px;
  font-family: "Public Sans", sans-serif;
}

.contact-me {
  text-align: center;
}
.contact-me .contact-me__heading {
  font-size: 140px;
}

.projects-links-clickable__goto {
  font-size: 18px;
  font-family: "Rosario", sans-serif;
  color: #000000;
}

.header-navigation__button {
  padding: 20px 50px;
  border: none;
  border-radius: 10px;
  font-family: "Rosario", sans-serif;
  font-size: 18px;
  background-color: #cfcfcf;
}
.header-navigation__button.header-navigation__button--active:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.3s ease;
}

.contact-me__link {
  border: 2px solid black;
  border-radius: 3px;
  padding: 20px 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.contact-me__link.contact-me__link--active:hover {
  padding: 30px 50px;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
}

.projects-links-clickable {
  text-decoration: none;
}
.projects-links-clickable .projects-links__icon {
  height: 80px;
  width: 80px;
}

.projects-links-clickable__goto {
  display: none;
  position: absolute;
  padding: 5px 5px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
}

.projects-links-clickable:hover .projects-links-clickable__goto {
  display: inline;
}/*# sourceMappingURL=main.css.map */